banned-players.json
banned-ips.json
bukkit.yml
commands.yml
help.yml
permissions.yml
ops.json
spigot.yml
usercache.json
version_history.json
cache
config
libraries
logs
plugins
versions
world_the_end
world_nether
world
whitelist.json
backups
.temp
__pycache__
